.card-extra-wide-container{
    height: max-content;
    width: 600px;
    background-color: #323232;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;


}