.order-page-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-left: 150px;
  margin-right: 150px;
}

.order-page-container .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 10px;
  column-gap: 10px;
}

.order-page-container .header.none {
  display: none;
}

.order-page-container .header .back {
  font-size: 20px;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.order-page-container .header .back:hover {
  color: #01d47a;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.order-page-container .header .title {
  font-family: 'SFProTextReg';
  color: #a5a5a5;
}

.order-page-container .status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  row-gap: 10px;
  margin-top: 30px;
}

.order-page-container .status .icon {
  color: #25de57;
  font-size: 30px;
}

.order-page-container .status .status-text {
  font-family: 'SFProDisplayBold';
  font-size: 1.5rem;
}

.order-page-container .order-card {
  background-color: #272727;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.order-page-container .order-card .order-card-container {
  background-color: #323232;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: 100%;
  margin-top: 100px;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.order-page-container .order-card .order-card-container .order-card-image {
  height: 250px;
  width: 385px;
  border-radius: 12px;
  overflow: clip;
  -webkit-transform: translateY(-60px);
  transform: translateY(-60px);
}

.order-page-container .order-card .order-card-container .order-card-image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.order-page-container .order-card .order-card-container .order-card-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: -10px;
  row-gap: 5px;
}

.order-page-container .order-card .order-card-container .order-card-top .title {
  font-family: 'DTPhudu';
  font-size: 2rem;
}

.order-page-container .order-card .order-card-container .order-card-top .text {
  font-family: 'SFProDisplayReg';
  color: #a5a5a5;
}

.order-page-container .order-card .order-card-container .activation-container {
  height: 100px;
  width: 45%;
  background-color: #101010;
  margin-top: 60px;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
}

.order-page-container
  .order-card
  .order-card-container
  .activation-container
  .code {
  font-family: 'SFProDisplayBold';
  font-size: 1.5rem;
}

.order-page-container
  .order-card
  .order-card-container
  .activation-container
  .icon {
  position: absolute;
  top: -20px;
  color: #14487b;
  background-color: white;
  padding: -5px;
  font-size: 40px;
  border-radius: 50px;
}

.order-page-container .order-card .order-card-container .order-card-bottom {
  margin: 30px;
}

.order-page-container
  .order-card
  .order-card-container
  .order-card-bottom
  .text {
  font-family: 'SFProDisplayReg';
  color: #a5a5a5;
}

.order-page-container .order-card-multi {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background-color: #323232;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px;
  margin-top: 40px;
  border-radius: 12px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.order-page-container .order-card-multi .order-left {
  width: 20%;
  height: 150px;
  border-radius: 12px;
  overflow: clip;
}

.order-page-container .order-card-multi .order-left img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.order-page-container .order-card-multi .order-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 80%;
}

.order-page-container .order-card-multi .order-right .title {
  font-family: 'DTPhudu';
  font-size: 1.5rem;
}

.order-page-container .order-card-multi .order-right .text {
  font-family: 'SFProDisplayReg';
  color: #a5a5a5;
}

.order-page-container .order-card-multi .order-right .activation-container {
  height: 80px;
  width: 55%;
  background-color: #101010;
  margin-top: 45px;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
}

.order-page-container
  .order-card-multi
  .order-right
  .activation-container
  .code {
  font-family: 'SFProDisplayBold';
  font-size: 1.3rem;
}

.order-page-container
  .order-card-multi
  .order-right
  .activation-container
  .icon {
  position: absolute;
  top: -20px;
  color: #14487b;
  background-color: white;
  padding: -5px;
  font-size: 35px;
  border-radius: 50px;
}

.order-page-container .order-card-multi .order-right .order-card-bottom {
  margin-top: 30px;
}

.order-page-container .order-info {
  margin-top: 20px;
  margin-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 5px;
  column-gap: 5px;
}

.order-page-container .order-info label {
  font-family: 'SFProDisplayReg';
  color: #a5a5a5;
}
/*# sourceMappingURL=orderPage.css.map */
