.login-container {
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: 20000;
  background-image: url('../../images/controller.jpg');
  background-position: center;
  background-size: 110%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@-webkit-keyframes loginOut {
  from {
    opacity: 1;
    z-index: 20000;
  }
  to {
    opacity: 0;
    z-index: -10;
  }
}

@keyframes loginOut {
  from {
    opacity: 1;
    z-index: 20000;
  }
  to {
    opacity: 0;
    z-index: -10;
  }
}

.login-container.deactive {
  display: none;
}

.login-container .top-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.login-container .top-container .cancel {
  width: 25px;
  height: 25px;
  color: #ffffff;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.login-container .top-container .cancel:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #01d47a;
}

.login-container-inner {
  height: 90%;
  width: 500px;
  background-color: #272727;
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.login-container-inner img {
  width: 15%;
}

.login-container-inner .header {
  font-family: 'DTphudu';
  font-size: 2rem;
  margin-top: -25px;
  color: #01d47a;
}

.login-container-inner .sso-container {
  height: 6.5%;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-column-gap: 20px;
  column-gap: 20px;
  margin-top: -40px;
}

.login-container-inner .sso-container .social-method {
  height: 100%;
  width: 100%;
  border-radius: 8px;
}

.login-container-inner .sso-container .social-method:hover {
  border: 1px solid #01d47a;
}

.login-container-inner .sso-container .social-method .icon {
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.login-container-inner .sso-container .social-method.face {
  background-color: #1877f2;
}

.login-container-inner .sso-container .social-method.face .icon {
  color: #ffffff;
  width: 20px;
  height: 20px;
}

.login-container-inner .sso-container .social-method.google {
  background-color: #ffffff;
}

.login-container-inner .sso-container .social-method.google .icon {
  width: 20px;
  height: 20px;
}

.login-container-inner .login-separator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 80%;
  margin-top: -20px;
}

.login-container-inner .login-separator span {
  font-size: 1rem;
  font-family: 'SFProTextBold';
}

.login-container-inner .login-separator .space {
  height: 1px;
  width: 180px;
  background-color: #5b5b5b;
}

.login-container-inner .form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 30%;
  width: 80%;
  margin-top: -20px;
}

.login-container-inner .form-container input[type='email']:focus {
  border: 1px solid #01d47a;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #ffffff;
}

.login-container-inner .form-container input[type='password']:focus {
  border: 1px solid #01d47a;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #ffffff;
}

.login-container-inner .form-container .opacity {
  height: 25%;
  width: 100%;
  border-radius: 8px;
  outline: none;
  background-color: #242424;
  padding: 15px;
  -webkit-box-shadow: inset 0 0 0 2px #3d3d3d;
  box-shadow: inset 0 0 0 2px #3d3d3d;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border: 0;
  font-family: 'SFProTextReg';
  color: #ffffff;
}

.login-container-inner .form-container .submit-button {
  height: 25%;
  border-radius: 8px;
  cursor: pointer;
  background-color: #01d47a;
  font-family: 'SFProTextBold';
  color: #ffffff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border: none;
}

.login-container-inner .form-container .submit-button:hover {
  background-color: #02f089;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.login-container-inner .forgot-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 80%;
  font-family: 'SFProTextReg';
}

.login-container-inner .forgot-container a {
  color: #ffffff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.login-container-inner .forgot-container a:hover {
  color: #01d47a;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
/*# sourceMappingURL=login.css.map */
