@import '../../../../../variables';

.view-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .headline{
        font-family: "SFProTextMedium";
        font-size: 1.5rem;
    }

    .table{
        display: flex;
        flex-direction: column;
        width: 100%;

        .row{
            display: flex;
            width: 100%;
            justify-content: space-between;


            .cell{
                border: 1px solid #3d3d3d;
                width: 50%;
                padding: 20px;
                font-family: "SFProTextReg";

                &.left{
                    color: #a5a5a5;

                }

                
            }
        }
    }
}