@import '../../_variables.scss';

.dashboard-container{
    position: relative;
    width: 100%;

    .dashboard-header-container{
        min-height: 60px;
        width: 100%;
        display: flex;
        column-gap: 30px;


        &::after{
            content: "";
            position: absolute;
            display: block;
            height: 2px;
            width: 100%;
            top: 58.5px;
            background-color: #323232;;
        }

        .link{
            font-family: "SFProTextBold";
            cursor: pointer;
            display: flex;
            align-items: center;
            transition: 0.2s;

            &:hover{
                transition: 0.2s;
                color: $clr-green;
            }

            .icon{
                margin-right: 5px;
                font-size: 25px;

                &.settings{
                    font-size: 20px;
                }
            }
            &.dashboard{
                color: $clr-green;
                position: relative;
                transition: 0.2s;
                &::before{
                content: "";
                display: block;
                height: 3px;
                width: 100%;
                left: 0;
                bottom: 0;
                z-index: 32;
                background-color: $clr-green;
                position: absolute;
                transition: 0.2s;
                }   
            }
            &.add{
                color: $clr-green;
                position: relative;
                transition: 0.2s;
                &::before{
                    content: "";
                    display: block;
                    height: 3px;
                    width: 100%;
                    left: 0;
                    bottom: 0;
                    z-index: 32;
                    background-color: $clr-green;
                    position: absolute;
                    transition: 0.2s;
                }

                
            }
            &.edit{
                color: $clr-green;
                transition: 0.2s;
                position: relative;
                &::before{
                    content: "";
                    transition: 0.2s;
                    display: block;
                    height: 3px;
                    width: 100%;
                    left: 0;
                    bottom: 0;
                    z-index: 32;
                    background-color: $clr-green;
                    position: absolute;
                }
            }

            &.orders{
                color: $clr-green;
                transition: 0.2s;
                position: relative;
                &::before{
                    content: "";
                    transition: 0.2s;
                    display: block;
                    height: 3px;
                    width: 100%;
                    left: 0;
                    bottom: 0;
                    z-index: 32;
                    background-color: $clr-green;
                    position: absolute;
                }
            }

            &.wishlist{
                color: $clr-green;
                transition: 0.2s;
                position: relative;
                &::before{
                    content: "";
                    transition: 0.2s;
                    display: block;
                    height: 3px;
                    width: 100%;
                    left: 0;
                    bottom: 0;
                    z-index: 32;
                    background-color: $clr-green;
                    position: absolute;
                }
            }
            &.library{
                color: $clr-green;
                transition: 0.2s;
                position: relative;
                &::before{
                    content: "";
                    transition: 0.2s;
                    display: block;
                    height: 3px;
                    width: 100%;
                    left: 0;
                    bottom: 0;
                    z-index: 32;
                    background-color: $clr-green;
                    position: absolute;
                }
            }
            &.wallet{
                color: $clr-green;
                transition: 0.2s;
                position: relative;
                &::before{
                    content: "";
                    transition: 0.2s;
                    display: block;
                    height: 3px;
                    width: 100%;
                    left: 0;
                    bottom: 0;
                    z-index: 32;
                    background-color: $clr-green;
                    position: absolute;
                }
            }
            &.settings{
                color: $clr-green;
                transition: 0.2s;
                position: relative;
                &::before{
                    content: "";
                    display: block;
                    height: 3px;
                    width: 100%;
                    left: 0;
                    bottom: 0;
                    z-index: 32;
                    background-color: $clr-green;
                    position: absolute;
                    transition: 0.2s;
                }
            }

            
        }
        #settings{
            margin-left: auto;
        }
    }
}
