.pseudo-nav-container {
  height: 80px;
  max-height: 80px;
  width: 100%;
  position: fixed;
  z-index: 1200;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.pseudo-nav-container .shadow {
  display: none;
}

.pseudo-nav-container .shadow.active {
  display: block;
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  background-color: #101010;
  opacity: 0.3;
  z-index: -10;
}

.pseudo-nav-container .logo-container-one {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 35px;
  z-index: 23;
}

.pseudo-nav-container .logo-container-one #logo {
  height: 100%;
}

.pseudo-nav-container .nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  background-color: transparent;
  height: 80px;
  max-height: 80px;
  position: fixed;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.pseudo-nav-container .nav-container .left-nav {
  width: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.pseudo-nav-container .nav-container .left-nav .icon.globe {
  height: 22px;
  width: 22px;
}

.pseudo-nav-container .nav-container .left-nav .admin {
  display: none;
}

.pseudo-nav-container .nav-container .left-nav .admin.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.pseudo-nav-container .nav-container .left-nav .admin.active:hover .adminIcon {
  color: #01d47a;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.pseudo-nav-container .nav-container .left-nav .admin.active .adminIcon {
  height: 24px;
  width: 24px;
  color: #ffffff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.pseudo-nav-container .nav-container.active {
  background-color: #101010;
  -webkit-animation: fadeIn 0.1s;
  animation: fadeIn 0.1s;
}

.pseudo-nav-container .nav-container .icon {
  color: #ffffff;
  height: 25px;
  width: 25px;
}

.pseudo-nav-container .nav-container .logo-container {
  height: 35px;
}

.pseudo-nav-container .nav-container .logo-container #logo {
  height: 100%;
}

.pseudo-nav-container .nav-container .right-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 30px;
  column-gap: 30px;
}

.pseudo-nav-container .nav-container .right-nav .search-bar {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.pseudo-nav-container .nav-container .right-nav .search-bar .icon {
  color: #ffffff;
  height: 25px;
  width: 25px;
  cursor: pointer;
}

.pseudo-nav-container .nav-container .right-nav .search-bar .icon:hover {
  color: #01d47a;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.pseudo-nav-container .nav-container .right-nav .search-bar .search-input {
  height: 30px;
  width: 200px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.pseudo-nav-container
  .nav-container
  .right-nav
  .search-bar
  .search-input
  .search-field {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border-radius: 8px;
  outline: none;
  background-color: #242424;
  padding: 15px;
  -webkit-box-shadow: inset 0 0 0 2px #3d3d3d;
  box-shadow: inset 0 0 0 2px #3d3d3d;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border: 0;
  font-family: 'SFProTextReg';
  color: #ffffff;
  transition: 0.2s;
  border: 2px solid #01d47a;
  font-family: 'SFProTextReg';
  color: #ffffff;
}

.pseudo-nav-container
  .nav-container
  .right-nav
  .search-bar
  .search-input
  .cancel {
  position: absolute;
  right: 0;
  margin-right: 10px;
  font-size: 25px;
  cursor: pointer;
  color: white;
}

.pseudo-nav-container .nav-container .right-nav .icon {
  color: #ffffff;
  height: 25px;
  width: 25px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
}

.pseudo-nav-container .nav-container .right-nav .icon:hover {
  color: #01d47a;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.pseudo-nav-container .nav-container .right-nav .indicator {
  background-color: #01d47a;
  position: absolute;
  margin-left: 18px;
  width: 18px;
  height: 18px;
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 100px;
  z-index: 1000000;
}

.pseudo-nav-container .nav-container .right-nav .indicator label {
  font-family: 'SFProTextReg';
  color: white;
  font-size: 0.8rem;
}

.pseudo-nav-container .nav-container .right-nav .login-button {
  cursor: pointer;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background-color: transparent;
  padding: 0;
  border: 0;
}

.pseudo-nav-container .nav-container .right-nav .profile-container {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  position: relative;
}

.pseudo-nav-container .nav-container .right-nav .profile-container .icon {
  cursor: pointer;
}

.pseudo-nav-container
  .nav-container
  .right-nav
  .profile-container
  .icon.active {
  color: #01d47a;
}

.pseudo-nav-container
  .nav-container
  .right-nav
  .profile-container
  .profile-dropdown-container {
  display: none;
}

.pseudo-nav-container
  .nav-container
  .right-nav
  .profile-container
  .profile-dropdown-container.active {
  position: absolute;
  padding: 25px;
  width: 200px;
  background: rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(14px);
  left: -175px;
  border-radius: 12px;
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 20px;
  z-index: 20000;
}

.pseudo-nav-container
  .nav-container
  .right-nav
  .profile-container
  .profile-dropdown-container.active
  .dropdown-button {
  font-family: 'SFProTextBold';
  color: #ffffff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.pseudo-nav-container
  .nav-container
  .right-nav
  .profile-container
  .profile-dropdown-container.active
  .dropdown-button:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #01d47a;
}

.pseudo-nav-container
  .nav-container
  .right-nav
  .profile-container
  .profile-dropdown-container.active
  .signout-button {
  background-color: transparent;
  font-family: 'SFProTextBold';
  border: 0;
  color: #ffffff;
  text-align: left;
  cursor: pointer;
  padding: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.pseudo-nav-container
  .nav-container
  .right-nav
  .profile-container
  .profile-dropdown-container.active
  .signout-button:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #01d47a;
}

.pseudo-nav-container
  .nav-container
  .right-nav
  .profile-container
  .profile-dropdown-container.active
  .space {
  height: 1px;
  width: 110%;
  background-color: #676767;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.pseudo-nav-container .login-container .top-container .cancel-button {
  cursor: pointer;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background-color: transparent;
  padding: 0;
  border: 0;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/*# sourceMappingURL=navbar.css.map */
