@import '../../variables';
$breakpoint-pc: 1600px;
.categories-inner-container {
  position: relative;
  min-height: 900px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 20px;

  .categories-item-container {
    min-height: 240px;
    min-width: 385px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    color: #ffffff;
    border-radius: 0 0 0.8rem 0.8rem;
    overflow: hidden;

    &:hover {
      .character-image {
        scale: 1.1;
        transition: 0.4s;
      }
    }

    .categories-item-content {
      position: relative;
      width: 100%;
      height: 90%;
      background-color: $clr-background-secondary;
      border-radius: 0.8rem 0.8rem 0 0;
      // padding-left: 10%;
      display: flex;
      align-items: center;
      overflow: hidden;

      .categories-cover {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &:after {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: #000000;
        opacity: 0.8;
        overflow: hidden;
      }

      h1 {
        position: relative;
        font-size: 1.7rem;
        z-index: 16;
        margin-left: 30px;
      }
    }

    .characters {
      position: absolute;
      width: 70%;
      height: 100%;
      right: 0;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;

      img {
        height: 95%;
        transition: 0.4s;
      }

      #chief {
        transform: translateX(12%);
        height: 88%;
      }

      #geralt {
        transform: translateX(12%);
      }
    }
  }

  @media (min-width: 1600px) {
    row-gap: 20px;

    .categories-item-container {
      width: 510px;
      height: 360px;

      .characters {
        img {
          height: 95%;
        }

        .marine {
          transform: translateX(12%);
        }
      }
    }
  }
}
