.home-container{
    height: 100%;
    width: 100%;
    z-index: 10;
    .main-content{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        .top-banner{
            position: relative;
            top: 0;
            left: 0;
            height: 70vh;
            width: 100%;
            .parallax{
                height: 100%;
                width: 100%;
    
                
                .top-banner-gradient{
                        background: linear-gradient(#000,transparent);
                        opacity: 0.7;
                        top: 0;
                        width: 100%;
                        height: 20%;
                        z-index: 1;
                        content: "";
                        position: absolute;
                    
                }

                .loading-container{
                    width: 100%;
                    height: 100%;
                    background-color: #272727;
                }

                img{
                    width: 100%;
                    height: 100%;
                    object-position: center;
                    object-fit: cover;
                }

                .bottom-banner-gradient{
                    background: linear-gradient(transparent, #000);
                    opacity: .5;
                    bottom: 0;
                    width: 100%;
                    height: 10%;
                    z-index: 1;
                    content: "";
                    position: absolute;
                
            }
            }

            .content{
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                height: 80%;
                width: 100%;
                padding-left: 150px;
                padding-right: 150px;
                display: flex;
                justify-content: center;
                .banner-product{
                    height: 100%;
                    width: 100%;
                    z-index: 2;
                    // color: #272727;
                    color: white;
                    text-decoration: none;
                    &-wrapper{
                        display: flex;
                        flex-direction: column;
                        height: 100%;
                        justify-content: center;

                        .newest-trending{
                            background-color: #01D47A; 
                            width: fit-content;
                            padding: 8px;
                            border-radius: 6px;
                            font-size: 1rem;
                            margin-bottom: 0.5rem;
                            font-family: "DTphuduMedium";
                            color: #ffffff;
                        }


                        .title{
                            font-size: 2rem;
                            font-family: "DTphudu";
                            margin-bottom: 4px;
                        }

                        .price{
                            font-size: 2.5rem;
                            font-family: "DTphudu";
                            
                        }
                    }
                }
            }

            
        }
        
        .trend-container{  
            top: 70vh;
            min-height: 950px;
            background-color: transparent;
            margin-left: 150px;
            margin-right: 150px;
        }

        .preorder-container{
            min-height: 900px;
            background-color: transparent;
            margin-left: 150px;
            margin-right: 150px;
        }

        .bestsellers-container{  
            min-height: 900px;
            background-color: transparent;
            margin-left: 150px;
            margin-right: 150px;
        }

        .review-container{
            background-color: #323232;
            display: flex;
            flex-direction: column;

            .sub-review-container{
                height: 50vh;
                width: 100%;
                background-color: #272727;
                display: flex;

                &-pseudo{
                    height: 100%;
                    width: 100%;
                    margin-right: 165px;
                    margin-left: 165px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                
                    .sub-review-item{
                        cursor: pointer;
                        height: 200px;
                        width: 23%;
                        border-radius: 0.8rem;
                        background-color: #323232;
                        display: flex;
                        overflow: hidden;
                        transition: 0.3s;

                        &:hover{
                            border: solid 1.5px #01D47A;
                            transition: 0.3s;
                        }
                        .sub-review-actor{
                            height: 100%;
                            width: 70%;
                            
                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }

                            
                        }

                        .rating{
                            display: flex;
                            color: #EDA72B;
                            justify-content: space-between;
                            column-gap: 3px;
                            margin-bottom: 2rem;
                            scale: 0.8;
                            transform: translate(-50%,10%);
                        }
                    }
                }
            }
            .pseudo-container{
                position: absolute;
                height: 50px;
                width: 100%;
                background-color: #272727;
            }

            .review-content-container{
                height: 350px;
                margin-left: 165px;
                margin-right: 165px;
                display: flex;
                .review-actor{
                    z-index: 40;
                    overflow: hidden;
                    img{
                        
                        width: 100%;
                        height: 135%;
                    }
                }  
            }

            .review-content{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    font-family: "SFProTextReg";
                    width: 40vw;
                    margin-left: 10%;
                    .rating{
                        display: flex;
                        color: #EDA72B;
                        justify-content: space-between;
                        column-gap: 3px;
                        margin-bottom: 2rem;
                    }
                    p{
                        text-align: center;
                        color: #A5A5A5;
                        font-size: 1.2rem;
                    }
                    span{
                        font-family: "DTphudu";
                        color: #01D47A;
                        font-size: 1.3rem;
                        margin-right: 3px;
                    }
            }
            
        }

        .banner-container{
            position: relative;
            height: 650px;
            width: 100%;
            background-image: url('../../images/abstract.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            
            &-filter{
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: #272727;
                z-index: 50;
                opacity: 0.4;
            }
            

            .banner-content-container{
                display: flex;
                flex-direction: column;
                height: 100%;
                margin-left: 165px;
                margin-right: 165px;
                justify-content: center;
                row-gap: 25px;
                position: relative;
                z-index: 51;
                img{
                    width: 9rem;
                }

                h1{
                    font-family: "DTphudu";
                    font-size: 1.5rem;
                    
                }

                h2{
                    font-family: "SFProTextReg";
                    font-weight: 200;
                    font-size: 1.1rem;
                    margin-top: -20px;
                    color: #ffffff;
                }
            }
        }

        .categories-outer-container{  
            min-height: 900px;
            background-color: transparent;
            margin-left: 150px;
            margin-right: 150px;
        }
        

        .news-container{
            height: 265px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            background-color: #323232;

            .icon{
                color: #01D47A;
                width: 35px;
                height: 35px;
            }
            h1{
                font-family: "DTphudu";
                font-size: 1.5rem;
                
            }

            h2{
                font-family: "SFProTextReg";
                font-weight: 200;
                font-size: 1rem;
                margin-top: -20px;
                color: #a5a5a5;
            }
        }
    }


    
}

// @media (min-width: 1600px) {
//     .home-container{
//         .main-content{
//             .top-banner{
//                 height: 60vh;
//                 .content{
//                     padding-left: 320px;
//                     padding-right: 320px;
//                 }
//             }

//             .trend-container{
//                 margin-left: 320px;
//                 margin-right: 320px;
//             }
//         }
//     }
// }
