@import '../../../../../../variables';

.latest-wish-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    width: 100%;
    height: 100%;
    padding: 30px 30px 40px 30px;

    .icon{
        &.starstrike{
            font-size: 50px;
            color: $clr-green;
        }
    }
    
    .header{
        font-family: "SFProTextBold";
        font-size: 1.2rem;

    }
    .latest-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        row-gap: 30px;

        .space{
            height: 1px;
            width: 100%;
            background-color: #474747;
        }

        .latest-inner-container{
            display: flex;
            width: 100%;
            height: 100%;
            column-gap: 30px;
            justify-content: center;
            .latest-product{
                height: calc(50px * 4);
                width: 50%;
                display: flex;
                justify-content: space-between;
                flex-direction: column;


                .image{
                    height: 75%;
                    width: 100%;
                    background-color: $clr-green;
                    border-radius: 8px;
                    overflow: clip;
                    transition: 0.3s;

                    &:hover{
                        transform: scale(1.05);
                        transition: 0.3s;
                    }
                    img{
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                }

                .info{
                    display: flex;
                    justify-content: space-between;
                    align-items: baseline;
                    .title{
                        max-width: 175px;
                        font-family: "DTphuduMedium";
                        text-overflow: ellipsis;
                        white-space: nowrap; 
                        overflow: hidden;
                        color: #ffffff;
                    }

                    .price{
                        font-family: "DTphuduMedium";
                        font-size: 1.5rem;
                    }

                    
                }
            }
        }
    }
}