
.parallax-container{
    height: 70vh;
    
    .parallax-inner-container{
        height: 100%;
        width: 100%;
        position: relative;
        .top-banner-gradient{
            background: linear-gradient(#000,transparent);
            opacity: 0.7;
            top: 0;
            width: 100%;
            height: 20%;
            z-index: 1;
            content: "";
            position: absolute;
        }

        img{
            width: 100%;
            height: 100%;
            object-position: center;
            object-fit: cover;
        }

        .bottom-banner-gradient{
            background: linear-gradient(transparent, #000);
            opacity: .5;
            bottom: 0;
            width: 100%;
            height: 10%;
            z-index: 1; 
            content: "";
            position: absolute;
        }
    }
}