@import '../../_variables.scss';

.admin-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    row-gap: 15px;
    h1{
        font-size: 2rem;
        text-align: center;
        margin-bottom: 30px;
    }

    span{
        font-size: 2rem;
        color: $clr-green;
    }

    

    .admin-profile-container{
        display: flex;
        flex-direction: column;
        row-gap: 15px;
        padding-left: 150px;
        padding-right: 150px;
        align-items: center;
        position: relative;
        width: 100%;
        height: 100%;

        .admin-avatar{
            width: 150px;
            height: 150px;
            position: relative;
            // .icon{
            //     width: 100%;
            //     height: 100%;
            //     color: $clr-green;
                
            // }

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        

        .admin-profile-info-container{
            display: flex;
            justify-content: space-between;
            
            .title{
                font-family: 'DTphudu';
            }
            label{
                font-family: 'DTphudu';
                font-size: 1.5rem;
            }
        }
    }
    
    

    
    button{
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 45px;
        padding-right: 45px;
        border-radius: 8px;
        font-family: DTphuduMedium;
        background-color: $clr-green;
        color: $clr-white;
        text-decoration: none;
        border: none;
        cursor: pointer;
        transition:  0.2s;
        &:hover{
            background-color: #02f089;
            transition:  0.2s;
            
        }
    }
}