.payment-container {
  width: 100%;
}

.payment-container .payment-inner-container {
  height: 100%;
  margin-left: 150px;
  margin-right: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.payment-container .payment-inner-container .step-container {
  width: 650px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'SFProTextMedium';
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.payment-container .payment-inner-container .step-container .step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 10px;
  column-gap: 10px;
}

.payment-container .payment-inner-container .step-container .step .number {
  width: 30px;
  height: 30px;
  padding: 10px;
  border: 3px solid #01d47a;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.payment-container .payment-inner-container .step-container .step .spacer {
  height: 3px;
  width: 100px;
  background-color: #3d3d3d;
  position: relative;
}

.payment-container .payment-inner-container .step-container .step.one .number {
  background-color: #01d47a;
}

.payment-container
  .payment-inner-container
  .step-container
  .step.one
  .number
  .icon {
  color: white;
  font-size: 12px;
  -webkit-transform: scale(2.2);
  transform: scale(2.2);
}

.payment-container .payment-inner-container .step-container .step.one .text {
  color: #6d6d6d;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.payment-container .payment-inner-container .step-container .step.one .spacer {
  background-color: #3d3d3d;
  height: 3px;
  width: 100px;
}

.payment-container
  .payment-inner-container
  .step-container
  .step.one
  .spacer
  .inner {
  background-color: #01d47a;
  height: 3px;
  width: 100px;
}

.payment-container
  .payment-inner-container
  .step-container
  .step.one:hover
  .text {
  color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.payment-container
  .payment-inner-container
  .step-container
  .step.three
  .number {
  color: #a5a5a5;
  border: 3px solid #3d3d3d;
}

.payment-container .payment-inner-container .step-container .step.three .text {
  color: #a5a5a5;
}

.payment-container .payment-inner-container .content-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-column-gap: 50px;
  column-gap: 50px;
}

.payment-container .payment-inner-container .content-container .left-container {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.payment-container
  .payment-inner-container
  .content-container
  .left-container
  .error {
  margin-left: 30px;
  margin-top: 20px;
  font-family: 'SFProDisplayBold';
  color: #dc2938;
}

.payment-container
  .payment-inner-container
  .content-container
  .left-container
  .credit-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 20px;
}

.payment-container
  .payment-inner-container
  .content-container
  .left-container
  .credit-card
  .credit-form {
  width: 100%;
  height: calc(50px * 8.5);
  background-color: #323232;
  border-radius: 12px;
  padding: 20px;
  border: 3px solid #01d47a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 30px;
}

.payment-container
  .payment-inner-container
  .content-container
  .left-container
  .credit-card
  .credit-form
  label {
  font-family: 'SFProDisplayReg';
}

.payment-container
  .payment-inner-container
  .content-container
  .left-container
  .credit-card
  .credit-form
  input {
  outline: none;
  background-color: #242424;
  padding: 15px;
  -webkit-box-shadow: inset 0 0 0 2px #3d3d3d;
  box-shadow: inset 0 0 0 2px #3d3d3d;
  border: 0;
  border-radius: 8px;
  padding: 20px;
  color: white;
}

.payment-container
  .payment-inner-container
  .content-container
  .left-container
  .credit-card
  .credit-form
  .credit-level {
  height: 65px;
  width: 100%;
}

.payment-container
  .payment-inner-container
  .content-container
  .left-container
  .credit-card
  .credit-form
  .credit-level.one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
  column-gap: 30px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.payment-container
  .payment-inner-container
  .content-container
  .left-container
  .credit-card
  .credit-form
  .credit-level.one
  .visa {
  width: 120px;
  height: 100%;
  background-color: white;
  border-radius: 8px;
  overflow: clip;
}

.payment-container
  .payment-inner-container
  .content-container
  .left-container
  .credit-card
  .credit-form
  .credit-level.one
  .visa
  img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.payment-container
  .payment-inner-container
  .content-container
  .left-container
  .credit-card
  .credit-form
  .credit-level.one
  .title {
  font-family: 'SFProTextBold';
  font-size: 1.1rem;
}

.payment-container
  .payment-inner-container
  .content-container
  .left-container
  .credit-card
  .credit-form
  .credit-level.two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 10px;
}

.payment-container
  .payment-inner-container
  .content-container
  .left-container
  .credit-card
  .credit-form
  .credit-level.two
  input {
  height: 100%;
  border: 0px solid transparent;
}

.payment-container
  .payment-inner-container
  .content-container
  .left-container
  .credit-card
  .credit-form
  .credit-level.two
  input[type='text']:focus {
  border: 2px solid #01d47a;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #ffffff;
}

.payment-container
  .payment-inner-container
  .content-container
  .left-container
  .credit-card
  .credit-form
  .credit-level.three {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 10px;
}

.payment-container
  .payment-inner-container
  .content-container
  .left-container
  .credit-card
  .credit-form
  .credit-level.three
  input {
  height: 100%;
}

.payment-container
  .payment-inner-container
  .content-container
  .left-container
  .credit-card
  .credit-form
  .credit-level.three
  input[type='text']:focus {
  border: 2px solid #01d47a;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #ffffff;
}

.payment-container
  .payment-inner-container
  .content-container
  .left-container
  .credit-card
  .credit-form
  .credit-level.four {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-column-gap: 30px;
  column-gap: 30px;
}

.payment-container
  .payment-inner-container
  .content-container
  .left-container
  .credit-card
  .credit-form
  .credit-level.four
  input {
  height: 100%;
}

.payment-container
  .payment-inner-container
  .content-container
  .left-container
  .credit-card
  .credit-form
  .credit-level.four
  input[type='text']:focus {
  border: 2px solid #01d47a;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #ffffff;
}

.payment-container
  .payment-inner-container
  .content-container
  .left-container
  .credit-card
  .credit-form
  .credit-level.four
  .expiration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 10px;
  width: 50%;
}

.payment-container
  .payment-inner-container
  .content-container
  .left-container
  .credit-card
  .credit-form
  .credit-level.four
  .security {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 10px;
  width: 50%;
}

.payment-container
  .payment-inner-container
  .content-container
  .right-container {
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 20px;
}

.payment-container
  .payment-inner-container
  .content-container
  .right-container
  .summary-final {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 20px;
}

.payment-container
  .payment-inner-container
  .content-container
  .right-container
  .summary-final
  .order-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 15px;
  background-color: #323232;
  padding: 20px 30px 40px 30px;
  border-radius: 12px;
}

.payment-container
  .payment-inner-container
  .content-container
  .right-container
  .summary-final
  .order-container
  .order-inner-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 10px;
}

.payment-container
  .payment-inner-container
  .content-container
  .right-container
  .summary-final
  .order-container
  .order-inner-container
  .order-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.payment-container
  .payment-inner-container
  .content-container
  .right-container
  .summary-final
  .order-container
  .order-inner-container
  .order-item
  .order-item-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 2px;
}

.payment-container
  .payment-inner-container
  .content-container
  .right-container
  .summary-final
  .order-container
  .order-inner-container
  .order-item
  .order-item-left
  .title {
  font-family: 'SFProDisplayBold';
}

.payment-container
  .payment-inner-container
  .content-container
  .right-container
  .summary-final
  .order-container
  .order-inner-container
  .order-item
  .order-item-left
  .platform {
  font-family: 'SFProDisplayReg';
  font-size: 0.9rem;
  color: #a5a5a5;
}

.payment-container
  .payment-inner-container
  .content-container
  .right-container
  .summary-final
  .order-container
  .order-inner-container
  .order-item
  .order-item-right
  .price {
  font-family: 'SFProDisplayReg';
  font-size: 1rem;
  color: #a5a5a5;
}

.payment-container
  .payment-inner-container
  .content-container
  .right-container
  .summary-final
  .order-container
  .order-inner-container
  .spacer-mini {
  height: 1px;
  width: 100%;
  background-color: #3d3d3d;
}

.payment-container
  .payment-inner-container
  .content-container
  .right-container
  .summary-final
  .order-container
  .secure-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 10px;
  -webkit-column-gap: 10px;
  column-gap: 10px;
}

.payment-container
  .payment-inner-container
  .content-container
  .right-container
  .summary-final
  .order-container
  .secure-container
  .lock {
  font-size: 35px;
}

.payment-container
  .payment-inner-container
  .content-container
  .right-container
  .summary-final
  .order-container
  .secure-container
  .lock
  path {
  stroke: #01d47a;
}

.payment-container
  .payment-inner-container
  .content-container
  .right-container
  .summary-final
  .order-container
  .secure-container
  .divisor {
  height: 30px;
  width: 1px;
  background-color: #6d6d6d;
}

.payment-container
  .payment-inner-container
  .content-container
  .right-container
  .summary-final
  .order-container
  .secure-container
  .secure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 3px;
}

.payment-container
  .payment-inner-container
  .content-container
  .right-container
  .summary-final
  .order-container
  .secure-container
  .secure
  .header {
  font-family: 'SFProDisplayBold';
}

.payment-container
  .payment-inner-container
  .content-container
  .right-container
  .summary-final
  .order-container
  .secure-container
  .secure
  .sub-header {
  font-family: 'SFProDisplayReg';
  font-size: 0.9rem;
  color: #a5a5a5;
}

.payment-container
  .payment-inner-container
  .content-container
  .right-container
  .pay-container {
  background-color: #323232;
  -webkit-box-shadow: 0px -31px 22px -7px rgba(0, 0, 0, 0.2);
  box-shadow: 0px -31px 22px -7px rgba(0, 0, 0, 0.2);
  padding: 20px 30px 60px 30px;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 30px;
  position: -webkit-sticky;
  position: sticky;
  bottom: 20px;
}

.payment-container
  .payment-inner-container
  .content-container
  .right-container
  .pay-container
  .total-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.payment-container
  .payment-inner-container
  .content-container
  .right-container
  .pay-container
  .total-container
  .text {
  font-family: 'SFProDisplayBold';
}

.payment-container
  .payment-inner-container
  .content-container
  .right-container
  .pay-container
  .total-container
  .price {
  font-family: 'SFProDisplayBold';
  font-size: 1.5rem;
}

.payment-container
  .payment-inner-container
  .content-container
  .right-container
  .pay-container
  .pay-button {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 15px;
  background-color: #01d47a;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'DTphuduMedium';
  font-size: 1.4rem;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.payment-container
  .payment-inner-container
  .content-container
  .right-container
  .pay-container
  .pay-button:hover {
  background-color: #02f089;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.payment-container
  .payment-inner-container
  .content-container
  .right-container
  .policy {
  margin-top: 10px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 30px;
  padding-right: 30px;
}

.payment-container
  .payment-inner-container
  .content-container
  .right-container
  .policy
  p {
  text-align: center;
  font-family: 'SFProDisplayReg';
  color: #999999;
  font-size: 0.9rem;
  line-height: 1.2rem;
}

.payment-container
  .payment-inner-container
  .content-container
  .right-container
  .policy
  p
  .link {
  font-family: 'SFProDisplayReg';
  color: #6d6d6d;
  text-decoration: underline;
}
/*# sourceMappingURL=payment.css.map */
