@import '../../_variables.scss';

.sign-up-container{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #272727;

    .back{
        color: #ffffff;
        font-family: "SFProTextReg";
    }

    .pseudo-form-container{
        height: 100%;
        width: 100%;
        
        display: flex;
        align-items: center;
        .sign-up-form-container{
            height: 80%;
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            border-radius: 12px;
            img{
                width: 80px;
            }
    
            span{
                font-family: "DTphudu";
                font-size: 2rem;
    
                color: $clr-green;
                position: relative;
                
            }
    
    
    
            .form-input-container{
                display: flex;
                flex-direction: row;          
                column-gap: 30px;
                height: max-content;
                width: 80%;
                flex-wrap: wrap;
                justify-content: space-between;
                row-gap: 30px;
                .section{
                    width: 47%;
                    height: max-content;
                    display: flex;
                    flex-direction: column;
                    .opacity{
                        outline: none;
                        background-color: #242424;
                        padding: 15px;
                        box-shadow: inset 0 0 0 2px #3D3D3D;
                        transition: 0.2s;
                        border: 0;
                        font-family: "SFProTextReg";
                        width: 100%;
                        height: 50px;
                    }

                    label{
                        font-family: "SFProTextReg";
                        

                        &.isError{
                            color: #DC2938;
                            margin-top: 10px;
                            margin-left: 12px;
                        }
                    }

                    .input{
                        font-family: "SFProTextReg";
                        display: none;
                        &.isError{
                            display: block;
                            color: #DC2938;
                            margin-top: 10px;
                            margin-left: 12px;
                        }
                    }
                    
                    input{
                        width: 100%;
                        border-radius: 8px;
                        color: #ffffff;
                        
                        &:focus{
                            border: 2px solid #01D47A;
                            transition: 0.2s;
                            color: #ffffff;
                        }
                    }
                    
                    input:autofill{
                        background-color: #242424;
                    }
                }
                
    
                button{
                    cursor: pointer;
                    border-radius: 8px;
                    grid-column: 1/span 2;
                    background-color: #01D47A;
                    font-family: "SFProTextBold";
                    color: #ffffff;
                    transition: 0.4s;
                    width: 100%;
                    height: 50px;
                    
                    &:hover{
                        background-color: #02f089;
                        transition: 0.4s;
                    }
                }

                
            }
    
            .back{
                font-family: "SFProTextReg";
                transition: 0.2s;

                &:hover{
                    color: #01D47A;
                    transition: 0.2s;
                }
            }
        }

        .poster{
            width: 50%;
            height: 100%;   
            overflow: hidden;

            img{
                width: 100%;
                
                object-fit: cover;
            }
        }
    }
    
    .success-container{
        position: absolute;
        height: 100vh;
        width: 50%;
        background-color: $clr-background-primary;
        left: 0;
    }

}